<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Stats.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C385ACF41D2D9BE000A090A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C385AD051D2D9BE000A090A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C385AD101D2D9BE000A090A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
